body {color: #222; font-family: 'Bitter', Serif;}
header {background: #000; color: #172bae;}
nav {background: #fff; -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15); -moz-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15); box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);}
nav .container {padding-top: 0;}
nav a {background: transparent; color: #555;}
nav .active a {background: #eaeaea; color: #000;}
.navbar-toggle {
    border: 0;
}
.navbar-toggle .icon-bar {
    background-color: #222;
}
@media (min-width: 768px) {
    #navbar {float: right;}
}
.navbar-brand {font-family: 'PT Sans', Sans-Serif; text-transform: uppercase;}

.name {color: #e9e9eb; font-family: 'PT Sans', Sans-Serif; font-size: 4em; line-height: 1; margin-top: .2em;}
.designation {color: #fff; font-size: 2em; font-weight: 300; padding-bottom: 1.25em;}
.profile-pic {max-width: 250px; border: 10px solid #fff; margin-top: 4.25em; -webkit-box-shadow: 0px 0px 19px 4px rgba(51,51,51,0.3); -moz-box-shadow: 0px 0px 19px 4px rgba(51,51,51,0.3); box-shadow: 0px 0px 19px 4px rgba(51,51,51,0.3);}

.contact-details-list li {margin-bottom: 1em;}
.introduction {font-size: 1.25em;}
.social-links {background: transparent; float: left; font-size: 2em;}
.linkedin {color: #0077b5;}
.twitter {color: #55acee;}
.section-header {font-weight: 900; font-size: 2.5em;}
/*#tools {background: #000; color: #fff;}*/
.tool-list {margin-top: 1.25em;}
.tool-list li {margin-left: 15px; margin-bottom: 15px; max-width: 80px;}
.tool-list a {background: transparent; padding: 0;}
.reference-list li {margin-bottom: 15px;}
/*.reference-list a {background: #fff; color: #000;}*/
.skills-list {opacity: 0;}
.skills-list li {width: 164px;}
.progressbar-text {font-size: 1.2em; font-weight: bold;}
#twitter-fav-list {margin-top: 1.25em;}
#twitter-fav-list a {background: transparent; color: #000; padding: 0; 
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}
.user span span {font-weight: normal; margin-left: 15px;}
.user span + span:before {content: '\A';}
.user span + span {background: #fff700; white-space: pre;}
.tweet {margin-top: 15px;}
/*.tweet a + a {display: block;}*/
.timePosted {font-size: 12px;}

.sticky-nav {font-size: 14px;}
nav + section {margin-top: 4.25em;}
.sticky-nav__name {font-family: 'PT Sans', Sans-Serif; font-size: 3em; line-height: 1;}
.sticky-nav__designation {color: #bdbdbd; font-size: 1.5em; font-weight: 300; padding-bottom: 1.25em;}
.portfolio-list section {border-bottom: 1px solid #dedede; padding: 1.25em 0;}
.portfolio-list section:first-child {padding-top: 0;}
.portfolio-list a {background: #fff700; color: #000;}
.project-title {font-family: 'PT Sans', Sans-Serif; font-size: 1.5em;}
.project-image {margin: 20px 0;}
.project-image a {background: transparent; padding: 0;}

@media (min-width: 992px) {
    .sticky-nav {position: fixed;}
    .portfolio-list section {padding: 1.25em;}
}

h1, h2, h3 {font-family: 'PT Sans', Sans-Serif;}
a {background: #0ac5f4; color: #fff; font-weight: bold; padding: 0 5px;}
a:hover {background: transparent; color: #0ac5f4; text-decoration: none;}
u {font-family: 'PT Sans', Sans-Serif;}
.container {padding-top: 1.25em;}
section.container {padding-top: 1.75em; padding-bottom: 1.75em;}
hr.yellow-line {border: 0; height: 1px; background: #fff700 ; background-image: linear-gradient(to right, #fff, #fff700 , #fff);}
.notes {font-size: 0.75em;}
.responsive-break {display: inline;}

@media (min-width: 768px) {
    .responsive-break {display: block;}
}

.font-playfair {font-family: 'PT Sans', Sans-Serif;}
.font-light {font-weight: 300;}
.font-normal {font-weight: 400;}

.emoji {
    font-family: "Noto Color Emoji","Apple Color Emoji","Segoe UI Emoji",Times,Symbola,Aegyptus,Code2000,Code2001,Code2002,Musica,serif,LastResort;
    font-size: 20px;
}
